body, html {
  height:100%;


}

/* navbar */
.navbar {
    box-shadow: 0px 5px 5px grey;
}

#personal_info_form {
    margin-left:100px;
    line-height: 150%;
}

#special {
    font-weight: bold;
}


.choices{
    text-indent: 2.0em;
}

.BackButton{
    float: left;
}
.ForwardButton{
    float:right;
}
.forwardBack{
    width:100%;
    height:50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
}

#calendar{
    width:100%;
    height:100%;
    table-layout:fixed;
    overflow:hidden;
}

#choices{
    width:80%;
    height:100%;
}

/* Button Shadows */
.btn-primary {
    box-shadow: 0px 5px 5px grey;
}

.btn-success {
    box-shadow: 0px 5px 5px grey;
}


.btn-primary:hover {
    box-shadow: 0px 8px 8px grey;
}

.btn-success:hover {
    box-shadow: 0px 8px 8px grey;
}


.num{
    border:dashed;
    border-color: #D3D3D3;
    height:35%;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    /*position: absolute;*/
    box-shadow: 0px 5px 5px grey;

}

.slot{
    padding:0px;
}



/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}


/* Sidenav */

#sidebar {
    padding-left:0;
}


.nav-link {
    display: block;
    padding: .5em 1em;
    color: #fff;
    background-color: #0275d8;

    margin-top: 5px;
    margin-bottom: 5px;

    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    box-shadow: 0px 5px 5px grey;

}


.nav-link:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;

    box-shadow: 0px 8px 8px grey;

}
/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  
  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
    overflow:hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

/* CUSTOM CSS */
/* Simple setup for this demo */

.mdl-card {
    width: 550px;
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
}

.mdl-card__supporting-text {
    width: 100%;
    padding: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
    width: 25%;
    /* 100 / no_of_steps */
}


/* Begin actual mdl-stepper css styles */

.mdl-stepper-horizontal-alternative {
    display: table;
    width: 100%;
    margin: 0 auto;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step {
    display: table-cell;
    position: relative;
    padding: 24px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:hover,
.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
    background-color: rgba(0, 0, 0, .06);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
    border-radius: 15% / 75%;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child:active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:hover .mdl-stepper-circle {
    background-color: #757575;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child .mdl-stepper-bar-right {
    display: none;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-circle {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background-color: #9E9E9E;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;
    font-size: 12px;
    color: white;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle {
    background-color: rgb(33, 150, 243);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle:before {
    content: "\2714";
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle *,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle * {
    display: none;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle {
    -moz-transform: scaleX(-1);
    /* Gecko */
    -o-transform: scaleX(-1);
    /* Opera */
    -webkit-transform: scaleX(-1);
    /* Webkit */
    transform: scaleX(-1);
    /* Standard */
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle:before {
    content: "\270E";
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title {
    margin-top: 16px;
    font-size: 14px;
    font-weight: normal;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
    text-align: center;
    color: rgba(0, 0, 0, .26);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-title {
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.step-done .mdl-stepper-title,
.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.editable-step .mdl-stepper-title {
    font-weight: 300;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
    font-size: 12px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-optional {
    color: rgba(0, 0, 0, .54);
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left,
.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
    position: absolute;
    top: 36px;
    height: 1px;
    border-top: 1px solid #BDBDBD;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
    right: 0;
    left: 50%;
    margin-left: 20px;
}

.mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left {
    left: 0;
    right: 50%;
    margin-right: 20px;
}


.active {
    background-color: #025aa5;
}

/* Calendar CSS */
@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
    background: #f9f9f9;
    color: #0e171c;
    font: 300 100%/1.5em 'Lato', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    line-height: 1.25em;
    margin: .25em 0;
}

h3 {
    font-size: 1.5em;
    line-height: 1em;
    margin: .33em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    height: 538px;
    left: 50%;
    margin: -255px 0 0 -245px;
    position: absolute;
    top: 50%;
    width: 510px;
}

/* ---------- CALENDAR ---------- */

.calendar {
    text-align: center;
}

.calendar header {
    /*position: relative;*/
}

.calendar h2 {
    text-transform: uppercase;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody {
    color: #7c8a95;
}

.calendar tbody td:hover {
    border: 2px solid #00addf;
}

.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
    color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #cbd1d2;
}

.current-day {
    background: #00addf;
    color: #f9f9f9;
}

.event {
    cursor: pointer;
    position: relative;
}

.event:after {
    background: #00addf;
    border-radius: 50%;
    bottom: .5em;
    display: block;
    content: '';
    height: .5em;
    left: 50%;
    margin: -.25em 0 0 -.25em;
    position: absolute;
    width: .5em;
}

.event.current-day:after {
    background: #f9f9f9;
}

.btn-prev,
.btn-next {
    border: 2px solid #cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    height: 2em;
    font-size: .75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    top: 50%;
    width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}

.btn-prev {
    left: 6em;
}

.btn-next {
    right: 6em;
}

.selected-day {
    background-color: #42f483;
}